<template>
<<<<<<< HEAD
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <div class="panel panel-default">
                   <div class="panel-heading">
                <h3>Dashboard </h3> <br>
                    <button @click="initAddLocation()" class="btn btn-success " style="padding:5px">
                     Add New Location
                     </button>
                   </div><br/><br/>
                   <div class="panel-body table-responsive">
              <table class="table table-bordered table-striped" v-if="locations.length > 0">
                           <tbody>
                           <tr>
                               <th>
                                   No.
                               </th>
                               <th>
                                   Name
                               </th>
                               <th>
                                  City
                               </th>
                               <th>
                                   Action
                               </th>
                           </tr>
                           <tr v-for="(location, index) in locations">
                               <td>{{ index + 1 }}</td>
                               <td>
                                   {{ location.name }}
                               </td>
                               <td>
                                 {{ location.cityname }}
                               </td>
                               
                               <td>
 <button @click="initUpdate(index)" class="btn btn-success btn-xs" style="padding:8px">Edit</button>
 
 <button @click="deleteLocation(index)" class="btn btn-danger btn-xs" style="padding:8px">Delete</button>
                               </td>
                           </tr>
                           </tbody>
                       </table>
                   </div>
               </div>
           </div>
       </div>
       <div class="modal fade" tabindex="-1" role="dialog" id="add_location_model">
           <div class="modal-dialog" role="document">
               <div class="modal-content">
                   <div class="modal-header">
                      <h4 class="modal-title">Add New Location</h4>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                       <div class="alert alert-danger" v-if="errors.length > 0">
                           <ul>
                               <li v-for="error in errors">{{ error }}</li>
                           </ul>
                       </div>
                       <div class="form-group">
                           <label for="names">Name:</label>
                           <input type="text" name="name" id="name" placeholder="Location Name" class="form-control"
                                  v-model="location.name">
                       </div>
                       <div class="form-group">
              <label for="names"> City :</label>
                <select class="form-control"  name="city_id" v-model="city_id" id="cityid">
                  <option disabled value="">Please select one</option>
                  <option v-for="(city, index) in cities" :value="city.id" > {{ city.name }}  </option>
                </select>
            </div>
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       <button type="button" @click="createLocation" class="btn btn-primary">Submit</button>
                   </div>
               </div><!-- /.modal-content -->
           </div><!-- /.modal-dialog -->
       </div><!-- /.modal -->
       <div class="modal fade" tabindex="-1" role="dialog" id="update_location_model">
           <div class="modal-dialog" role="document">
               <div class="modal-content">
                   <div class="modal-header">
                      <h4 class="modal-title">Update Location</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                       <div class="alert alert-danger" v-if="errors.length > 0">
                           <ul>
                               <li v-for="error in errors">{{ error }}</li>
                           </ul>
                       </div>
                       <div class="form-group">
                           <label>Name:</label>
                           <input type="text" placeholder="Location Name" class="form-control"
                                  v-model="update_location.name">
                       </div>
                        <div class="form-group">
              <label for="names"> City :</label>
                <select class="form-control"  name="city_id" v-model="update_location.location_cityid" id="cityid">
                  
                  <option v-for="(city, index) in cities" :value="city.id" :selected="city.id == update_location.location_cityid"> {{ city.name }}  </option>
                </select>
            </div>
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       <button type="button" @click="updateLocation" class="btn btn-primary">Submit</button>
                   </div>
               </div><!-- /.modal-content -->
           </div><!-- /.modal-dialog -->
       </div><!-- /.modal -->
   </div>
</template>
=======

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h1 class="h3 mb-2 text-gray-800"> Location List </h1>

        <div class="card shadow mb-4">
          <div class="card-header py-3">
            
            <button @click="initAddCourse()" class="btn btn-success btn-lg float-right ">
              Add New Location
            </button>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" v-if="courses.length>0">
                <thead>
                  <tr>
                    <th> No </th>
                    <th> Name </th>
                    <th> Action </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(location, index) in locations">
                    <td> {{ index + 1 }} </td>
                    <td> {{ location.name }} </td>
                    <td> 
                      <button @click="initUpdate(index)" class="btn btn-success btn-xs" style="padding:8px">Edit</button>
                      
                      <button @click="deleteLocation(index)" class="btn btn-danger btn-xs" style="padding:8px">Delete</button>
                    </td>
                  </tr>
                </tbody>
                
              </table>
            </div>
          </div>

        </div>

      </div>
    </div>
    
    <div class="modal fade" tabindex="-1" role="dialog" id="add_location_model">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add New Location</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
            
          <div class="modal-body">
            <div class="alert alert-danger" v-if="errors.length > 0">
              <ul>
                  <li v-for="error in errors">{{ error }}</li>
              </ul>
            </div>
            
            <div class="form-group">
              <label for="names">Name:</label>
                <input type="text" name="name" id="name" placeholder="Course Name" class="form-control" v-model="location.name">
            </div>
            <div class="form-group">
              <label for="names">Fees:</label>
                <input type="text" name="fees" id="fees" placeholder="Course Fees" class="form-control" v-model="course.fees">

            </div>
            <div class="form-group">
              <label for="names">Location:</label>
                <input type="text" name="location" id="location" placeholder="Location" class="form-control" v-model="course.location">
                <!-- <select class="form-control" name="location" id="location" v-model="course.location_id">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select> -->
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            
            <button type="button" @click="createCourse" class="btn btn-primary">Submit</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="update_course_model">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Update Course</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          
          <div class="modal-body">
            <div class="alert alert-danger" v-if="errors.length > 0">
              <ul>
                <li v-for="error in errors">{{ error }}</li>
              </ul>
            </div>
            
            <div class="form-group">
              <label>Name:</label>
                <input type="text" placeholder="Course Name" class="form-control" v-model="update_course.name">
            </div>
            <div class="form-group">
              <label for="names">Fees:</label>
                <input type="text" placeholder="Course Fees" class="form-control" v-model="update_course.fees">

            </div>
            <div class="form-group">
              <label for="names">Location:</label>
                <input type="text" placeholder="Location" class="form-control" v-model="update_course.location_id">
                <!-- <select class="form-control" name="location" id="location" v-model="course.location_id">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select> -->
            </div>
            
          </div>
              
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                
            <button type="button" @click="updateCourse" class="btn btn-primary">Submit</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
</template>

>>>>>>> 0df24c7528ee149f70e3ce9fa9cc02a4a373c283
<script>
   export default {
       data(){
           return {
<<<<<<< HEAD
               location: {
                   name: ''
               },
               cities: [],
               city_id: '',
               errors: [],
               locations: [],
               update_location: {}
=======
               course: {
                   name: ''
               },
               errors: [],
               courses: [],
               update_course: {}
>>>>>>> 0df24c7528ee149f70e3ce9fa9cc02a4a373c283
           }
       },
       mounted()
       {
<<<<<<< HEAD
           this.readLocations();
           this.readCities();
       },
       methods: {
           deleteLocation(index)
           {
               let conf = confirm("Do you ready want to delete this location?");
               if (conf === true) {
                   axios.delete('/api/setup/location/' + this.locations[index].id)
                       .then(response => {
                           this.locations.splice(index, 1);
=======
           this.readCourses();
       },
       methods: {
           deleteCourse(index)
           {
               let conf = confirm("Do you ready want to delete this Course?");
               if (conf === true) {
                   axios.delete('api/setup/course/' + this.courses[index].id)
                       .then(response => {
                           this.courses.splice(index, 1);
>>>>>>> 0df24c7528ee149f70e3ce9fa9cc02a4a373c283
                       })
                       .catch(error => {
                       });
               }
           },
<<<<<<< HEAD
           initAddLocation()
           {
               $("#add_location_model").modal("show");
           },
           createLocation()
           {
               axios.post('/api/setup/location', {
                   name: this.location.name,
                   city_id: this.city_id,
               })
                   .then(response => {
                       this.reset();
                       this.locations.push(response.data.location);
                       $("#add_location_model").modal("hide");
=======
           initAddCourse()
           {
               $("#add_course_model").modal("show");
           },
           createCourse()
           {
               axios.post('api/setup/course', {
                   name: this.course.name,
                   fees: this.course.fees,
                   location: this.course.location,

               })
                   .then(response => {
                       this.reset();
                       this.courses.push(response.data.course);
                       $("#add_course_model").modal("hide");
>>>>>>> 0df24c7528ee149f70e3ce9fa9cc02a4a373c283
                   })
                   .catch(error => {
                       this.errors = [];
                       if (error.response.data.errors && error.response.data.errors.name) {
                           this.errors.push(error.response.data.errors.name[0]);
                       }
                   });
           },
           reset()
           {
<<<<<<< HEAD
               this.location.name = '';
           },
           readLocations()
           {
               axios.get('/api/setup/location')
                   .then(response => {
                       this.locations = response.data.locations;
                   });
           },
            readCities()
           {
               axios.get('/api/setup/city')
                   .then(response => {
                       this.cities = response.data.cities;
=======
               this.course.name = '';
           },
           readCourses()
           {
               axios.get('api/setup/course')
                   .then(response => {
                       this.courses = response.data.courses;
>>>>>>> 0df24c7528ee149f70e3ce9fa9cc02a4a373c283
                   });
           },
           initUpdate(index)
           {
               this.errors = [];
<<<<<<< HEAD
               $("#update_location_model").modal("show");
               this.update_location = this.locations[index];
           },
           updateLocation()
           {
               axios.patch('/api/setup/location/' + this.update_location.id, {
                   name: this.update_location.name,
                   city_id : this.update_location.location_cityid,
               })
                   .then(response => {
                       $("#update_location_model").modal("hide");
=======
               $("#update_course_model").modal("show");
               this.update_course = this.courses[index];
           },
           updateCourse()
           {
               axios.patch('api/setup/course/' + this.update_course.id, {
                   name: this.update_course.name,
                   fees: this.update_course.fees,
                   location: this.update_course.location_id,

               })
                   .then(response => {
                       $("#update_course_model").modal("hide");
>>>>>>> 0df24c7528ee149f70e3ce9fa9cc02a4a373c283
                   })
                   .catch(error => {
                       this.errors = [];
                       if (error.response.data.errors.name) {
                           this.errors.push(error.response.data.errors.name[0]);
                       }
                   });
           }
       }
   }
</script>